/*
    variables
    mixins
    functions
    placeholders
*/
/*
    bootstrap
*/
/*.flex1,
.flex2,
.flex3-2-1,
.flex3-1,
.flex4-2-1,
.flex4-2-2,
.flex4-4-2,
.flex5,
.flex5-3-2,
.flex6,
.flex8 {
    display: grid;
}*/
.flex, .flex2, .flex2-2, .flex3-2-1, .flex3-1, .flex4-2-1, .flex4-2-2, .flex4-4-2, .flex5, .flex5-3-2, .flex6, .flex8 {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 575px) {
  .flex2 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex2 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .flex2-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex2-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex2-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex2-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .flex3-2-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex3-2-1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex3-2-1 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex3-2-1 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .flex3-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex3-1 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex3-1 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex3-1 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .flex4-2-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex4-2-1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex4-2-1 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex4-2-1 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 575px) {
  .flex4-2-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex4-2-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex4-2-2 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex4-2-2 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 575px) {
  .flex4-4-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex4-4-2 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex4-4-2 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex4-4-2 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 575px) {
  .flex5 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex5 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex5 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 575px) {
  .flex5-3-2 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex5-3-2 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex5-3-2 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex5-3-2 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 575px) {
  .flex6 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex6 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 575px) {
  .flex8 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .flex8 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .flex8 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1320px) {
  .flex8 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

/*
.iksScssTest {
    @include breakpoint($mobile) {
        font-size: 16px;
    }

    @include breakpoint($desktop) {
        font-size: 36px;
    }
}
*/
/*@include plumber-set-defaults( $grid-height: 1rem, $baseline: 0.158203, $font-size: 1.75, $line-height: 3, $leading-top: 1, $leading-bottom: 2 );

p {
    // using only default values
    @include plumber();
}*/
body {
  background-color: transparent;
  font-size: calc(0.2vw + 12px);
  font-family: "Raleway", sans-serif;
}

p {
  font-size: calc(0.2vw + 12px);
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  margin: 0;
  line-height: 100%;
}

h1 {
  font-size: calc(calc(0.2vw + 12px) * 4.5);
}

h2 {
  font-size: calc(calc(0.2vw + 12px) * 4);
}

h3 {
  font-size: calc(calc(0.2vw + 12px) * 3.5);
}

h4 {
  font-size: calc(calc(0.2vw + 12px) * 3);
}

h5 {
  font-size: calc(calc(0.2vw + 12px) * 2.5);
}

h6 {
  font-size: calc(calc(0.2vw + 12px) * 1.5);
}

ul {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  font-size: calc(0.2vw + 12px);
  font-family: "Raleway", sans-serif;
  color: black;
}

a {
  color: black;
  font-size: calc(0.2vw + 12px);
  font-family: "Raleway", sans-serif;
}

a:hover {
  color: #ff761a;
  text-decoration: none;
}

.scroll-adjust {
  padding-top: 150px;
  margin-top: -150px;
}

@media (min-width: 576px) and (max-width: 979px) {
  .scroll-adjust {
    padding-top: 150px;
    margin-top: -150px;
  }
}

@media (max-width: 575px) {
  .mobile-no {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .mobile-no {
    display: none;
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .mobile-no {
    display: normal;
  }
}

@media (min-width: 1320px) {
  .mobile-no {
    display: normal;
  }
}

@media (max-width: 575px) {
  .mobile-only {
    display: normal;
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .mobile-only {
    display: none;
  }
}

@media (min-width: 980px) and (max-width: 1319px) {
  .mobile-only {
    display: none;
  }
}

@media (min-width: 1320px) {
  .mobile-only {
    display: none;
  }
}

/*
    base
    normalize
    typography
*/
nav {
  background-color: #58585b;
}

nav div ul.nav.navbar-nav a.nav-link {
  font-weight: 700;
  font-size: calc(calc(0.2vw + 12px) * 1.1);
  color: white;
  -webkit-transition: color 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: color 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: color 250ms ease-in-out, transform 150ms ease;
  transition: color 250ms ease-in-out, transform 150ms ease, -webkit-transform 150ms ease;
}

nav div ul.nav.navbar-nav a.nav-link:hover, nav div ul.nav.navbar-nav a.nav-link:focus, nav div ul.nav.navbar-nav a.nav-link:active {
  color: #ff761a !important;
}

nav div ul.nav.navbar-nav a.nav-link.active {
  font-weight: 700;
  color: #ff761a;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.logo img {
  height: 180px;
  margin-top: 0;
  margin-bottom: -130px;
  padding: 0;
}

@media (max-width: 575px) {
  .logo {
    position: relative;
    top: -50px;
    width: 100%;
  }
  .logo img {
    max-height: 90px;
    width: 100%;
  }
}

/*
    grid
    header
    navigation
*/
.button, .button-white {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem 0 0 0;
  text-decoration: none;
  background-color: white;
  color: #ff761a;
  font-size: calc(0.2vw + 12px);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease-in-out, -webkit-transform 300ms ease;
  transition: all 250ms ease-in-out, -webkit-transform 300ms ease;
  transition: all 250ms ease-in-out, transform 300ms ease;
  transition: all 250ms ease-in-out, transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 250ms ease-in-out, transform 300ms ease;
  -moz-transition: all 250ms ease-in-out, transform 300ms ease;
  -ms-transition: all 250ms ease-in-out, transform 300ms ease;
  -o-transition: all 250ms ease-in-out, transform 300ms ease;
}

.button:hover, .button-white:hover, .button:active, .button-white:active {
  background-color: #ff761a;
}

.button-white {
  margin-top: 7vw;
  margin-bottom: 5vw;
  padding: 1rem 5vw;
  border-width: 3px 3px 3px 3px;
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: white;
  background-color: transparent;
}

.button-white:hover, .button-white:active {
  background-color: white;
}

.button-white:hover a, .button-white:active a {
  color: #58585b;
}

.v-baner {
  min-height: 90vh;
  margin-top: -54 px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: #b44e0a;
  opacity: 0.85;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.2;
}

@media (max-width: 575px) {
  .fullscreen-video-wrap {
    height: inherit;
  }
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-content {
  z-index: 2;
  text-align: center;
  margin-top: 90px;
}

@media (max-width: 575px) {
  .header-content {
    margin-top: 80px;
  }
}

@media (min-width: 576px) and (max-width: 979px) {
  .header-content {
    margin-top: 130px;
  }
}

.header-content h5 {
  line-height: 1.5;
  font-size: calc(calc(0.6vw + 8px) * 2.5);
}

.baner-card div {
  margin: 0 2vw;
}

.baner-card div i {
  margin-top: 7vh;
  margin-bottom: 2vh;
  font-weight: 700;
  font-size: calc(calc(0.6vw + 8px) * 4);
  color: white;
}

.baner-card div h6 {
  font-weight: 600;
  font-size: calc(calc(0.2vw + 12px) * 1.1);
}

.section .card, .section-white .card, .section-orange .card, .section-gray .card, .section .card-color1, .section-white .card-color1, .section-orange .card-color1, .section-gray .card-color1, .section .card-color2, .section-white .card-color2, .section-orange .card-color2, .section-gray .card-color2, .section .card-color3, .section-white .card-color3, .section-orange .card-color3, .section-gray .card-color3, .section .card-color4, .section-white .card-color4, .section-orange .card-color4, .section-gray .card-color4, .section .card-color5, .section-white .card-color5, .section-orange .card-color5, .section-gray .card-color5 {
  min-height: 300px;
  text-align: left;
  position: relative;
  display: block;
}

.section .card h6, .section-white .card h6, .section-orange .card h6, .section-gray .card h6, .section .card-color1 h6, .section-white .card-color1 h6, .section-orange .card-color1 h6, .section-gray .card-color1 h6, .section .card-color2 h6, .section-white .card-color2 h6, .section-orange .card-color2 h6, .section-gray .card-color2 h6, .section .card-color3 h6, .section-white .card-color3 h6, .section-orange .card-color3 h6, .section-gray .card-color3 h6, .section .card-color4 h6, .section-white .card-color4 h6, .section-orange .card-color4 h6, .section-gray .card-color4 h6, .section .card-color5 h6, .section-white .card-color5 h6, .section-orange .card-color5 h6, .section-gray .card-color5 h6,
.section .card p,
.section-white .card p,
.section-orange .card p,
.section-gray .card p,
.section .card-color1 p,
.section-white .card-color1 p,
.section-orange .card-color1 p,
.section-gray .card-color1 p,
.section .card-color2 p,
.section-white .card-color2 p,
.section-orange .card-color2 p,
.section-gray .card-color2 p,
.section .card-color3 p,
.section-white .card-color3 p,
.section-orange .card-color3 p,
.section-gray .card-color3 p,
.section .card-color4 p,
.section-white .card-color4 p,
.section-orange .card-color4 p,
.section-gray .card-color4 p,
.section .card-color5 p,
.section-white .card-color5 p,
.section-orange .card-color5 p,
.section-gray .card-color5 p {
  color: white !important;
  margin: 2rem;
  text-align: left;
  z-index: 20;
  position: relative;
}

.section .card h6, .section-white .card h6, .section-orange .card h6, .section-gray .card h6, .section .card-color1 h6, .section-white .card-color1 h6, .section-orange .card-color1 h6, .section-gray .card-color1 h6, .section .card-color2 h6, .section-white .card-color2 h6, .section-orange .card-color2 h6, .section-gray .card-color2 h6, .section .card-color3 h6, .section-white .card-color3 h6, .section-orange .card-color3 h6, .section-gray .card-color3 h6, .section .card-color4 h6, .section-white .card-color4 h6, .section-orange .card-color4 h6, .section-gray .card-color4 h6, .section .card-color5 h6, .section-white .card-color5 h6, .section-orange .card-color5 h6, .section-gray .card-color5 h6 {
  font-weight: 800;
}

.card-color1 {
  background-color: #e65c00;
}

.card-color2 {
  background-color: #dc5800;
}

.card-color2:after {
  content: "";
  background-image: url(/images/1.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.card-color3 {
  background-color: #ff6701;
}

.card-color4 {
  background-color: #ff8534;
}

.card-color5 {
  background-color: #ff761a;
}

/*
    buttons
    panels
    slideshow
*/
.section, .section-white, .section-orange,
.section-gray {
  position: relative;
  text-align: center;
}

.section h6, .section-white h6, .section-orange h6, .section-gray h6,
.section h5,
.section-white h5,
.section-orange h5,
.section-gray h5 {
  line-height: 1.2;
}

.section hr, .section-white hr, .section-orange hr, .section-gray hr {
  border-bottom-style: solid;
  border-bottom-width: calc(0.2vw + 2px);
  margin: 1rem 30%;
}

.section h6, .section-white h6, .section-orange h6, .section-gray h6 {
  font-weight: 500;
}

.section p, .section-white p, .section-orange p, .section-gray p {
  text-align: justify;
}

.section div.flex2, .section-white div.flex2, .section-orange div.flex2, .section-gray div.flex2 {
  grid-gap: 3vw;
}

.section-white {
  background-color: white;
}

.section-white h5,
.section-white h6 {
  color: #58585b;
}

.section-white hr {
  border-color: #ff761a;
}

.section-orange h6,
.section-orange h5,
.section-gray h6,
.section-gray h5 {
  color: white;
}

.section-orange {
  background-color: #ff761a;
}

.section-orange hr {
  border-color: #58585b;
}

.section-gray {
  background-color: #58585b;
  padding-bottom: 5rem;
  min-height: 100vh;
}

@media (max-width: 575px) {
  .section-gray {
    padding: 0;
  }
}

.section-gray hr {
  border-color: #ff761a;
}

.cennik {
  height: 100vh;
  background-image: url(/images/CENNIK-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5rem;
}

@media (max-width: 575px) {
  .cennik {
    margin: 0;
    min-height: 80vh;
  }
}

.map {
  height: 400px;
  width: 100%;
  -ms-touch-action: pan-x pan-y;
      touch-action: pan-x pan-y;
  cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
}

.section-white h4 {
  color: #58585b;
  font-size: calc(calc(0.2vw + 12px) * 1.7);
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.section-white .flex2 {
  grid-column-gap: 15vw !important;
}

.section-white .flex2-2 {
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.section-white .text-align-right {
  text-align: right;
}

/*
    home
    contact...
*/
/*
    defoult-theme
    light-theme
*/
/*# sourceMappingURL=main.css.map */